body {
    text-align: center;
    color: green;
    font-style: italic;
    background-color: black;
}
section {
    color: white;
    text-align: left;
}
img {
    max-width:100%;
    max-height: 100%;
}